.header{
    height: 50px;
    width: 100%;
    background-color: navy;
    flex-direction: row;
    display: flex;
    
}
.material-icons{
    color: white;
   
}
.menu{
    min-width: 150px !important;
}

button{
   
    margin: 7px ;
    border: none;
}
::ng-deep .mat-menu-panel {
    min-width: 212px !important;
     overflow: hidden !important;
}
::ng-deep button.mat-menu-item{
width: 80% !important;
}

