
<div style="background-color: rgb(182, 171, 171);">

<app-header></app-header><br>
<app-navbar></app-navbar><br> <br>
<div style="margin:1%; background-color: white;  padding: 10px;">
  <div class="float_date">
    <span   (click)="openDate()" style=" margin-left : 20px; float:right; color: rgba(19, 37, 88, 0.966); font-size: 30px; 
    padding-left:-6px;"class="material-icons my-float">
     today
      </span>
  </div>
  <div class="float_add">
    <span   (click)="openApplyLeave()" style=" margin-left : 20px; float:right; color: rgba(19, 37, 88, 0.966); font-size: 50px; 
    padding-left:-6px;"class="material-icons my-float">
      add_circle
      </span>
  </div>
 
<app-carousel></app-carousel>
<app-tab></app-tab>
</div>
</div>

<router-outlet></router-outlet>