.mat-tab-group {
    margin-bottom: 48px;
  }
.card{
    background-color: rgb(214, 202, 202);
     width: 80px;
     border-left: 5px solid rgb(173, 118, 16);
     font: bold;
     font-size: 18px;
}

  mat-tab{
      padding-top: 20px;
  }