<div >
<div style=" background-color:transparent;">
    <button (click)="openFavorite()" mat-raised-button style="background-color: rgb(235, 73, 51); float: right;margin-left: 20px;margin-right: 20px;" ><span class="material-icons">
        favorite_border
        </span></button>
</div>
<div style=" background-color:transparent;">
    <button (click)="openTeam()" mat-raised-button style="background-color: navy; float: right;margin-left: 20px;"> <span class="material-icons">
        groups
        </span></button>
</div>
<div style=" background-color:transparent;padding-left: 20px;">
    <button (click)="openApprovals()" mat-raised-button style="background-color: navy; float: right;margin-left: 20px;"><span class="material-icons">
        error
        </span></button>
</div>

<div style=" background-color:transparent;padding-left: 20px;">
    <button (click)="openNotification()" mat-raised-button style="background-color: navy; float: right;margin-left: 20px;" > <span class="material-icons">
            notifications
        </span></button>
</div>
</div>
